<p><%= link_to "Add an Activity", new_activity_path, class: "btn btn-large btn-realto " %></p>

<% @all_activities.each do |t| %>

  Name: <%= t.name %><br>

  Length: <%= t.length %><br>

  <% if t.description!= "" %>
    Description: <%= t.description %><br>
  <%else%>
    Notes: NONE<br>
  <%end%>
<% end %>