
<% @all_activities.each do |t| %>

 <p> </p>
  Name: <%= t.name %><br>

  Length: <%= t.length %><br>

  <% if t.description!= "" %>
    Description: <%= t.description %><br>
  <%else%>
    Notes: NONE<br>

  <p> </p>

  <% end %>

<% end %>