<%= form_for current_user,  :url => users_updateLoc_path, class: "form-horizontal" do |f| %>

  <div class="form-group">
    <%= f.label :Location, class: "col-sm-2 control-label" %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <%= f.submit 'Save', :method => :patch, class: 'btn btn-primary btn-block'%>

<% end %>