<h3>Welcome to Boredom Manager</h3>

<p><%= link_to "Add an Activity", new_activity_path, class: "btn btn-large btn-realto " %></p>

<p><%= link_to "See activities", activities_show_path, class: "btn btn-large btn-realto " %></p>
