<!-- begin header -->
<header>
  
  <div align="center" style="border:1px solid red;">

      <span>

      <%= link_to "Get Recommendations (Home) ", root_path, class: "brand" %>
    
      </span>
          
  </div>
     
</header>  
<!-- end header -->