
<h1> My Activities </h1>

<table>
<tr>
	<th> Activity </th>
	<th> Length (Minutes) </th>
	<th> Description </th>

</tr>

<tbody>
	<% current_user.activities.each do |a| %> 

	<tr>

	<td> <%= a.name %> </td>
	<td> <%= a.length %> </td>
	<td> <%= a.description %> </td>
	
	</tr>


<% end %> 

</tbody>

</table>
